a {
  text-decoration: none;
  color: inherit;
}

section {
  display: grid;
  grid-template-columns: min-content 1fr;
  border-radius: 1.2rem;

  .feature-image {
    width: 16rem;
    height: 10rem;
    margin-right: 1.5rem;
    border-radius: 1.2rem;
  }

  .content {
    padding: 1.5rem .3rem;
    .title {
      font-size: 1.5rem;
    }
  }

  @media screen and (max-width: 500px) {
    grid-template-columns: 1fr;

    .feature-image {
      width: 100%;
      height: auto;
    }
  }
}
