nav {
  display: grid;
  grid-template-columns: 1fr min-content;
  align-items: center;
  padding: 1.2rem 4rem;
  border-bottom: .1rem solid var(--accent-color);
  box-sizing: border-box;

  @media screen and (max-width: 500px) {
    padding: 1.2rem 2.4rem;
  }

  .blog-name {
    font-size: 1.8rem;
    a {
      text-decoration: none;
      color: var(--font-color);
    }
  }
}
