nav {
  padding: 1.2rem 4rem;
  border-bottom: .2rem solid #e5e8eb;
  box-sizing: border-box;

  .blog-name {
    font-size: 1.8rem;
    a {
      text-decoration: none;
      color: black;
    }
  }
}
