@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@import './themes/prism.css';

html {
  font-size: 10px;
  font-family: "DM Mono", monospace;
}

body {
  margin: 0;
}