@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@import './themes/prism.css';

:root {
  --bg-color: white;
  --font-color: black;
  --accent-color: #e5e8eb;
}

:root.dark-mode {
  --bg-color: #121a21;
  --font-color: white;
  --accent-color: #E5E8EB;
}

html {
  font-size: 10px;
  font-family: "DM Mono", monospace;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--font-color);
}

.analog-markdown figure {
  margin: 0;
  text-align: center;
  width: 100%;
}

.analog-markdown img {
  max-width: 100%;
}

.analog-markdown a {
  color: var(--font-color);
}

.analog-markdown iframe {
  border: none;
}

.analog-markdown table {
  width: 100%;
  border-collapse: collapse;
  margin: 2rem 0;
}

.analog-markdown table th,
.analog-markdown table td {
  padding: 1.2rem 1.6rem;
  text-align: left;
  border: 1px solid var(--accent-color);
}

.analog-markdown table th {
  font-weight: 500;
}
